<div class="sidebar">
  <div class="title">
    <mat-icon class="posIcon">view_list</mat-icon>
    tableau de bord
  </div>
  <mat-nav-list>
    <mat-list-item class="rowList" (click)="addNewItem(itemOfPublication)">
      <mat-icon id="micon" mat-list-icon>public</mat-icon>
      <h4 mat-line>Publications</h4>
    </mat-list-item>
    <mat-list-item class="rowList" (click)="addNewItem(itemOfPublication)">
      <mat-icon id="micon" mat-list-icon>note</mat-icon>
      <h4 mat-line>Factures</h4>
    </mat-list-item>
    <mat-list-item class="rowList" (click)="addNewItem(itemOfPublication)">
      <mat-icon id="micon" mat-list-icon>assignment</mat-icon>
      <h4 mat-line>Commandes</h4>
    </mat-list-item>
    <mat-list-item class="rowList" (click)="addNewItem(itemOfDemandProduct)">
      <mat-icon id="micon" mat-list-icon>add_shopping_cart</mat-icon>
      <h4 mat-line>Ajouter un Demande</h4>
    </mat-list-item>
    <mat-list-item class="rowList" (click)="addNewItem(itemOfPublication)">
      <mat-icon id="micon" mat-list-icon>new_releases</mat-icon>
      <h4 mat-line>Reclamation</h4>
    </mat-list-item>
  </mat-nav-list>
</div>
