<div class="container" *ngIf="!open">
  <div class="row">
    <div class="col-6" *ngFor="let element of dataSource">
      <div class="space">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{element.title_reclamation}}
            </mat-panel-title>
            <mat-panel-description>
              {{element.date_create}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Client : {{userClient}}</p>
          <p>Description : {{element.description}}</p>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="open">
  <div class="row" id="styitem">
    <div class="col" *ngFor="let element of dataSource">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{element.title_reclamation}}
          </mat-panel-title>
          <mat-panel-description>
            {{element.date_create}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Client : {{userClient}}</p>

        <p>Description : {{element.description}}</p>
      </mat-expansion-panel>
    </div>
  </div>
</div>
