<form class="example-form" [formGroup]="profileForm">
  <div class="container">
    <div class="row">
      <h2 style="position: inherit;
        left: 36%;">Créer une réclamation</h2>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="styIn" class="example-full-width">
          <mat-label>Titre de la réclamation</mat-label>
          <input matInput placeholder="" formControlName="title_reclamation" required>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="texField" appearance="fill">
          <mat-label>description</mat-label>
          <textarea matInput value="" formControlName="description" required></textarea>
        </mat-form-field>
      </div>
      <br>
      <div class="row">
        <div class="col-4">
          <input type="submit" name="add" class="btn btn-primary" (click)="addReclamationClient()" value="submit">
        </div>
        <div class="col-3">
          <button type="reset" class="btn btn-default">Reset</button>
        </div>
      </div>
    </div>
  </div>
</form>
