<div *ngIf="items.get('itemOfCharts')">
  <!--<app-charts></app-charts>-->
  <h2>Statistique</h2>
<canvas baseChart style="margin-top: 16%;height: 400px;width: 800px;display: block;" [datasets]="barChartData"
  [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
  [chartType]="barChartType">
</canvas>

</div>
<!------------------------------------------------------------------------------------------------------------------------>
<div *ngIf="items.get('itemOfAddClient')">
  <app-add-user></app-add-user>
</div>
<!------------------------------------------------------------------------------------------------------------------------>
<div *ngIf="items.get('itemOfClient')">
  <app-client-table usernameAdminTable="{{usernameAdmin}}"></app-client-table>
</div>
<!------------------------------------------------------------------------------------------------------------------------>
<div *ngIf="items.get('itemOfProduction')">
  <app-publication></app-publication>
</div>
<!------------------------------------------------------------------------------------------------------------------------>
<div *ngIf="items.get('itemOfAddProduction')">
  <app-add-publication></app-add-publication>
</div>
<!------------------------------------------------------------------------------------------------------------------------>
<div *ngIf="items.get('itemOfBill')">
  <app-bill></app-bill>
</div>
<!------------------------------------------------------------------------------------------------------------------------>
<div *ngIf="items.get('itemOfAddBill')">
  <app-add-bill></app-add-bill>
</div>
<!------------------------------------------------------------------------------------------------------------------------>
<div *ngIf="items.get('itemOfReclamation')">
  <app-reclamation></app-reclamation>
</div>
<!------------------------------------------------------------------------------------------------------------------------>
<div *ngIf="items.get('itemOfProduct')">
  <app-produit></app-produit>
</div>
<!------------------------------------------------------------------------------------------------------------------------>
<div *ngIf="items.get('itemOfAddProduct')">
  <app-add-produit></app-add-produit>
</div>
<!------------------------------------------------------------------------------------------------------------------------>
<div *ngIf="items.get('itemOfDemand')">
  <app-demand></app-demand>
</div>

