canvas#stycanv {
  display: block;
  height: 250px;
  width: 800px;
}

#widthIn {
  width: 40%;
}

div.posOficon {
  position: absolute;
  top: 30%;
  left: 82%;
}

table {
  width: 100%;
}

div#header {
  width: 50%;
  height: 20%;
}

table {
  position: fixed;
  width: 77%;
  left: 22%;
}
