<form class="example-form" [formGroup]="profileForm">
  <div class="container">
    <div class="row">
      <h2>Ajouter une demande</h2>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill">
          <mat-label>Catégorie</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="obj">
            <mat-option #databox *ngFor="let obj of objs" [value]="obj.imSousFamillesId" (click)="onSelect(databox.value)">
              {{obj.libelle}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Saisir le code de produit</mat-label>
          <input #box matInput placeholder="" formControlName="nomproduit" required><br>
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
          <mat-label>Saisir le nom de produit</mat-label>
          <input #data matInput placeholder="" formControlName="nomproduit" required><br>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" *ngIf="testProd">
          <mat-label>sous famille</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="obj">
            <mat-option #datab *ngFor="let obj of dataObj" [value]="obj.libelle" (click)="pickOb(datab.value)">
              {{obj.libelle}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <input type="button" (click)="onclick(data.value, box.value)"  name="add" class="btn btn-primary" value="Rechercher">
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill">
          <mat-label>description</mat-label>
          <textarea matInput value="" formControlName="description" required></textarea>
        </mat-form-field>
      </div>
      <br>
      <div class="container">
        <br>
        <div class="row">
          <div class="col-4">
            <input type="submit" name="add" class="btn btn-primary" (click)="addDemand()" value="submit">
          </div>
          <div class="col-3">
            <button type="reset" class="btn btn-default">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
