<nav class="navbar navbar-light bg-light justify-content-between" id="stynav">
  <a class="navbar-brand"></a>
  <form class="form-inline">
    <div class="row">
      <div class="col-sm-4">
        <button mat-button class="stylebtn">
          <mat-icon class="styleicon">account_circle</mat-icon>
          <label class="stylabel">Admin</label>
        </button>
      </div>
      <div class="col-sm-8">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" class="stybtn">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
  </form>
</nav>
