<div class="container">
  <form>
    <h2 class="hstyle">Portail Client</h2>
    <p></p>
    <div class="heighthead"></div>
    <div class="container">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" [(ngModel)]="username" name="username">
        </mat-form-field>
      </div>
      <div class="heig"></div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="heig"></div>
      <div class="row">
        <div class="col-sm offset-2">
          <button mat-raised-button color="primary" (click)="onSubmit()">Connexion</button>
        </div>
        <div class="col-sm">
          <button mat-stroked-button color="primary">Annuler</button>
        </div>
      </div>
    </div>
  </form>
</div>





