<div class="container">
  <h2 class="hstyle">Portail Client</h2>
  <p></p>
  <div class="heighthead"></div>
  <div class="container">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Identifiant</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </div>
    <div class="heig"></div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="heig"></div>
    <div class="row">
      <div class="col-sm offset-2">
        <button mat-raised-button (click)='nav()' color="primary">Connexion</button>
      </div>
      <div class="col-sm">
        <button mat-stroked-button color="primary">Annuler</button>
      </div>
    </div>
    <div class="heig"></div>
    <div class="row">
      <div class="col-12 offset-2">
        <a class="stya" href="#">Si vous avez oublié le mot de passe ou l'identifiant</a>
      </div>
    </div>
  </div>
</div>





<!--

  <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

<mat-form-field appearance="outline">
        <mat-label>Identifiant</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>



-->
