<mat-form-field class="example-full-width">
  <mat-label>Mot de passe</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="valPassword" required>
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>
<br>
<button mat-raised-button color="primary" [mat-dialog-close]="valPassword" cdkFocusInitial>valider</button>
