<div class="container">
  <div class="row">
    <div class="col-6" *ngFor="let element of dataSource">
      <div class="space">
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
          <mat-card-title>{{element.title_pub}}</mat-card-title>
          <mat-card-subtitle>{{element.first_date}}</mat-card-subtitle>
          <mat-card-content>
            <p>
              {{element.description}}
            </p>
          </mat-card-content>
        </mat-card>
        <br>
      </div>
    </div>
  </div>
</div>
