<div class="container">
  <form class="example-form" [formGroup]="profileFormPub" enctype="multipart/form-data">
    <!--enctype="multipart/form-data"-->
    <div class="row">
      <div class="col-6 offset-2">
        <mat-card id="cardSty" class="example-card">
          <!--<img mat-card-image src="http://localhost:8083/files/{{imageName}}" alt="Problem">-->
          <input type="file" (change)="onFileChanged($event)" name="file">
          <!--<input type="button" (click)="uploadImage()" value="uploadImage">-->
          <!--<div *ngIf=message>message : {{message}}</div>-->
          <mat-card-subtitle>
<br>
            <mat-form-field appearance="fill">
              <mat-label>Catégorie</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="obj">
                <mat-option #databox *ngFor="let obj of objs" [value]="obj.imSousFamillesId"
                  (click)="onSelect(databox.value)">
                  {{obj.libelle}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>Saisir le code de produit</mat-label>
              <input #box matInput placeholder="" formControlName="nomproduit" required><br>
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
              <mat-label>Saisir le nom de produit</mat-label>
              <input #data matInput placeholder="" formControlName="nomproduit" required><br>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" *ngIf="testProd">
              <mat-label>Produits</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="obj">
                <mat-option #datab *ngFor="let obj of dataObj" [value]="obj.libelle" (click)="pickOb(datab.value)">
                  {{obj.libelle}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <input type="button" (click)="onclick(data.value, box.value)" name="add" class="btn btn-primary"
              value="Rechercher">
            <br>
            <br>
            <!--Date : {{today | date:'shortDate'}}-->
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Date de publication</mat-label>
              <input matInput type='date' #myDate formControlName="date" />
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Date d'annulation</mat-label>
              <input matInput type='date' #myDate formControlName="lastdate" />
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>
          </mat-card-subtitle>
          <mat-card-content>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput value="" formControlName="description" required></textarea>
              </mat-form-field>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="addPublication()">publier</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </form>
</div>
