<br><br>
<div *ngIf="testResult">
  <div class="container">
    <table mat-table [dataSource]="dataTableUser" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>

      <!-- pwd Column -->
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef> Prenom </th>
        <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <ng-container matColumnDef="tel">
        <th mat-header-cell *matHeaderCellDef> tel </th>
        <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef> Mot de passe </th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>
      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef> Etat </th>
        <td mat-cell *matCellDef="let element"> {{element.etat}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <br>
  <form class="example-form" [formGroup]="profileForm">
    <div class="container">
      <div class="row">
        <h2>Modifier Client</h2>
      </div>
      <div class="row">
        <div class="col-4">
          <mat-form-field class="example-full-width">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="" value="" formControlName="nom">
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="example-full-width">
            <mat-label>Prenom</mat-label>
            <input matInput placeholder="" value="" formControlName="prenom">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field id="widthIn" class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com"
              formControlName="Email">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('')">
              Email is <strong></strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <mat-form-field class="example-full-width">
            <mat-label>username</mat-label>
            <input matInput placeholder="" value="" formControlName="username">
          </mat-form-field>
        </div>
        <div class="col-5">
          <mat-form-field class="example-full-width">
            <mat-label>Mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-3">
          <!--<mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <select (change)="take($event)" matNativeControl >
              <option value="">...</option>
              <option value="Admin">Admin</option>
              <option value="User">User</option>
            </select>
          </mat-form-field>-->

        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <mat-form-field class="example-full-width">
            <mat-label>Tel</mat-label>
            <input type="tel" matInput placeholder="" value="" formControlName="tel">
          </mat-form-field>
        </div>
        <div class="col-5">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>date de naissance</mat-label>
            <input matInput type="date" [matDatepicker]="picker" formControlName="date" class="form-control"
              name="picker" />
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-4">
          <input type="submit" name="add" class="btn btn-primary" (click)="onSubmit()" value="submit">
        </div>
        <div class="col-3">
          <button type="reset" class="btn btn-default">Reset</button>
        </div>
      </div>
    </div>
  </form>
