<div class="sidebar">
  <div class="logo"></div>
  <mat-nav-list>
    <mat-list-item class="rowList" (click)="addNewItem(itemOfClient)">
      <mat-icon id="micon" mat-list-icon>assignment_ind</mat-icon>
      <h4 mat-line>Clients</h4>
    </mat-list-item>
    <mat-list-item (click)="addNewItem(itemOfAddClient)">
      <mat-icon id="micon" mat-list-icon>supervised_user_circle</mat-icon>
      <h4 mat-line>Ajouter Client</h4>
    </mat-list-item>
    <mat-list-item (click)="addNewItem(itemOfCharts)">
      <mat-icon id="micon" mat-list-icon>bar_chart</mat-icon>
      <h4 mat-line>Statistique</h4>
    </mat-list-item>
  </mat-nav-list>
</div>

