<div class="container">
  <div class="row">
    <div class="col-6">
      <input matInput placeholder="" value="" formControlName="code"><br><br>
      <input type="submit" class="btn btn-primary" (click)="onclick()" value="code de produit">
    </div>
    <div class="col-6">
      <input matInput placeholder="" value="" formControlName="code"><br><br>
      <input type="submit" class="btn btn-primary" (click)="onclick()" value="Libelle de produit">
    </div>
  </div>
</div><br>
<div class="container">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.imArticleId}} </td>
    </ng-container>

    <ng-container matColumnDef="libelle">
      <th mat-header-cell *matHeaderCellDef> libelle </th>
      <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
    </ng-container>

    <ng-container matColumnDef="date_Creation">
      <th mat-header-cell *matHeaderCellDef> date Creation </th>
      <td mat-cell *matCellDef="let element"> {{element.dateCreation}} </td>
    </ng-container>


    <ng-container matColumnDef="prixVente">
      <th mat-header-cell *matHeaderCellDef> prix Vente </th>
      <td mat-cell *matCellDef="let element"> {{element.prixVente}} </td>
    </ng-container>

    <ng-container matColumnDef="prixPublic">
      <th mat-header-cell *matHeaderCellDef> prix Public </th>
      <td mat-cell *matCellDef="let element"> {{element.prixPublic}} </td>
    </ng-container>



    <!-- Name Column -->


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
